:root {
  /*--main-bg-color: #2E3440;*/
  --main-bg-color: #B48EAD;
  --alt-bg-color: #4C566A;
  --body-color: #3B4252;
  --text-color: #D8DEE9;
  --title-color-1: #BF616A;
  --title-color-2: #D08770;
  --title-color-3: #EBCB8B;
  --title-color-2: #A3BE8C;
  --title-color-5: #B48EAD;
}
