/* Theme 
@import nord.css;
*/
:root {
  --main-bg-color: #2E3440;
  --alt-bg-color: #4C566A;
  --body-color: #3B4252;
  --text-color: #D8DEE9;
  --title-color-1: #BF616A;
  --title-color-2: #D08770;
  --title-color-3: #EBCB8B;
  --title-color-2: #A3BE8C;
  --title-color-5: #B48EAD;
}

/* Fonts */
@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}

/* Animations */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Elements */
a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {color: #ff79c6;  font-weight: bold;}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 300;
}

body {
    align-items: center;
    background-color: var(--main-bg-color, green);
    color: var(--text-color);
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.time {
    font-size: 3rem;
    color: #f8f8f2;
}

.date {
    font-size: 1.5rem;
    color: #f8f8f2;
    margin-top: 10px;
}



/*
const d = new Date();
let name = month[d.getMonth()];
*/


main {
    animation-duration: 1s;
    animation-name: fade-in;
    font-family: Roboto-Light, sans-serif;
    margin: auto;
    width: 100%;
}

/* Classes */
.links-container {
    width: 100%;
}

.link-section {
    /*background-color: var(--body-color);*/
    padding: 10px;
    overflow-y: auto;
    /*box-shadow: 0px 0px 15px 2px #111;*/
}

.link-section-title {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    text-align: center;
}

.link-list {
    padding: 0;
  text-align: center;
}

.link-list-item {
    color: var(--text-color);
    align-items: center;
    display: flex;
    height: 2em;
    justify-content: center;
    line-height: 2em;
    list-style-type: none;
    margin: 1vh 0 1vh 0;
    text-align: center;
    width: 100%;
}

/* .link-list-item:hover {
    background-color: var(--body-color);
} */

.link {
    color: var(--text-color);
    display: block;
    width: 100%;
    height: 100%;
}

.cyan {
    color: #8be9fd;
}

.pink {
    color: #ff79c6;
}

.green {
    color: #50fa7b;
}

.purple {
    color: #bd93f9;
}

.orange {
    color: #ffb86c;
}

.red {
    color: #ff5555;
}

.yellow {
    color: #f1fa8c;
}

.comment {
    color: #6272a4;
}

/* IDs */
#clock {
    font-family: Roboto;
}

#top-div {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    grid-column-end: 5;
    grid-column-start: 1;
    text-align: center;
    padding: 0 5vw 0 5vw;
}

#search-form, #clock-div {
    align-items: center;
    display: flex;
    justify-content: center;
}

#search-bar-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
}

#search-bar, #search-bar-btn {
    background-color: var(--body-color);
    border-color: #6272a4 ;
    border-style: solid;
    border-width: 1px;
}

#search-bar {
    box-shadow: 0px 0px 15px 2px #111;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 16px;
    height: 25px;
    padding: 0 25px 0 0;
    text-align: center;
    width: 100%;
}

#search-bar-btn {
    display: inline-block;
    font-size: 16px;
    height: 25px;
    padding: 0 0 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}

#search-bar:focus{
    border-color: ##6272a4;
    outline: none;
}

#search-bar-btn {
    border-color: #6272a4;
}

.material-icons {
  color: var(--text-color);
}

#links-container {
    column-gap: 0vw;
    display: grid;
    grid-column-gap: 0vw;
    grid-row-gap: 5vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 2vh 5vw 2vh 5vw;
    row-gap: 5vh;
}

/* Media Queries */
@media only screen and (min-width: 600px) {

    #links-container {
        column-gap: 3vw;
        grid-column-gap: 3vw;
        grid-row-gap: 5vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5vh;
    }

}

@media only screen and (min-width: 768px) {
    
    #links-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

}

@media only screen and (min-width: 1200px) {

    #top-div {
        padding: 0 15vw 0 15vw;
    }

    #links-container {
        padding: 2vh 15vw 2vh 15vw;
    }

}
