
body {
    background-color: #282a36;
    color: #f8f8f2;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
a {color: #f8f8f2; text-decoration: none;}
a:hover {color: #ff79c6;  font-weight: bold;}
h1 {
  color: #8be9fd;
}
h2 {
  color: #ffb86c;
}
h3 {
  color: #50fa7b;
}
