body {
    background-color: #172430;
    color: #EDEDED;
    text-align: center;
    font-family: 'Quicksand', sans-serif;}
    a {color: #EDEDED; text-decoration: none;}
    a:hover {color: #FF000A;
}
